{%  extends "show/base.html.twig" %}
{% block headtitle %}
    <h1 class="my-4">ShowRooms
        <small>Ehehehs</small>
    </h1>
{% endblock headtitle %}
{% block content %}

    {% for s in show %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="{{  asset('upload/'~s.image)}}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{s.name}}</h2>
            <p class="card-text">{{s.abstract}}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
        </div>
    </div>

        {% endfor %}
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
{% endblock content %}