{%  extends "show/base.html.twig" %}
{% block headtitle %}
    <h1 class="my-4">Update
        <small>Show</small>
    </h1>
{% endblock headtitle %}

{% block content %}
    <div class="list-group">
    {% for shows in show %}
        <a class='list-group-item' href="/update/{{shows.id}}">{{shows.name}}</a>                 
    {% endfor %}
    </div>
{% endblock content %}