{%  extends "show/base.html.twig" %}

{% block headtitle %}
    <h1 class="my-4">Create
        <small>Category</small>
    </h1>
{% endblock headtitle %}

{% block content %}
    {{ form(categoryForm) }}
{% endblock %}