<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">{% block menu_title %}Show - {% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'show_list' %}  active {% endif %}">
                    <a class="nav-link" href="{{ path('show_list') }}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'create' %}  active {% endif %}">
                    <a class="nav-link" href="{{ path('show_create') }}">Create</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'create' %}  active {% endif %}">
                    <a class="nav-link" href="{{ path('category_create') }}">Add Category</a>
                </li>
            </ul>
        </div>
    </div>
</nav>